.checked {
    color: black;
}

.card{
    margin-left: 10vh;
    margin-right: 10vh;
    height:444px;
    background-color: rgb(221, 221, 221);
}

.card-heading{
    float: left;
    width: 100%;
    margin-left: 5%;
    margin-top: 40px;
}

.card-data {
    float: left;
    width: 100%;
    margin-left: 5%;
    margin-top: 25px;
}

.darkYellow-progress-bar{
    color: rgb(151, 153, 35);
}
.darkBlack-progress-bar{
    color: rgb(32, 32, 32);
}